.pagina-app {
  h2:hover {
    color: red;
    cursor: pointer;
  }
  .titulo {
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    transition: ease 0.9s;
  }
}
