@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Sevillana&display=swap');

*{
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Handjet';
  font-size: 100px;
}